*,
*::before,
*::after {
    box-sizing: border-box;
    outline: none;
    border: none;
    font-family: merriweather;
    font-style: normal;
}

html,body {
    font-size: calc(10px + (24 - 16) * ((100vw - 400px) / (1600 - 400)));
}

@media (max-width: 400px) {
    html,body {
      font-size: 10px;
    }
  }
  
  @media (min-width: 1300px) {
    html,body {
      font-size: 16px;
    }
  }

.snappedBody{
    width: 100%;
    height: fit-content;
    z-index: 2;
    // position: absolute;
    // display: flex;
    // align-items: center;
    // justify-content: center;
}