/* TikTokVerticalScroll.css */
.main-scroll-container {
  height: 100vh;
  overflow: hidden;
  .scroll-container {
    /* display: block; */
    flex-direction: column;
    /* Vertical scroll */
    scroll-snap-type: y mandatory;
    overflow-y: scroll;
    overflow-x: hidden;
    height: 100%;
    width: 100%;
    /* Style for the snapped item */
    .page {
      scroll-snap-align: start;
      height: 100vh;
      font-size: 24px;
      background-color: #e8e8e8;
      /* margin-bottom: 1px; */
      width: 100%;
      position: relative;
      transition: .3s;
      color: black;
      overflow: hidden;
    }
  }
}
