$blue: rgb(4, 171, 255);
$lightblue: rgb(135, 205, 255);
$red: rgb(255, 79, 73);
$green: rgb(13, 188, 0);
$grey: rgb(146, 146, 146);
$lightgrey:rgb(219, 219, 219);
$timer: 120s;
$midnight: #1a202c!important